<ul class="todo-list">
		{{#each todoDatas as data, index}}
	        <TodoItem isDone={{data.isDone}} content={{data.content}} id={{data.id}} on:del='refresh()'/>
		{{/each}}
</ul>

<style>
	.todo-list {
	    display: flex;
	    flex-direction: column;
	    align-items: stretch;
	    padding: 0;
	    margin: 0;
	}
</style>

<script>
	import TodoItem from './TodoItem.html';
	import {LocalStorageService as storage} from '../services/LocalStorageService';


	export default{
		components:{
			TodoItem
		},
		data(){
			if (!storage.get('isInited')){
				storage.set('todoDatas',JSON.stringify([
		                {id: 100, content: '检测网络连接', isDone: false},
		                {id: 200, content: '当有待办事项存在时，我希望能看到待办事项列表', isDone: false},
		                {id: 300, content: '当我输入文字并使用回车确认时，我希望新输入的待办事项项目显示在列表中', isDone: false},
		                {id: 400, content: '当我点击待办事项左侧的checkbox时，待办事项应该标示为已完成', isDone: false},
		                {id: 500, content: '当我点击已完成待办事项左侧的checkbox时，待办事项应该标示为未完成', isDone: false},
		                {id: 600, content: '当我点击待办事项右侧的关闭按钮时，待办事项应当被删除', isDone: false}
		            ]));
				storage.set('isInited',true);
			}
			return {
				todoDatas:JSON.parse(storage.get('todoDatas'))
			}
		},
		methods:{
			refresh(){
				const data=JSON.parse(storage.get('todoDatas'))
				this.set({todoDatas:data})
			}
		}
	}
</script>