<ul class="todo-list">
		{{#each todoDatas as data, index}}
	        <TodoItem isDone={{data.isDone}} content={{data.content}} index={{index}}/>
		{{/each}}
</ul>

<style>
	.todo-list {
	    display: flex;
	    flex-direction: column;
	    align-items: stretch;
	    padding: 0;
	    margin: 0;
	}
</style>

<script>
	import TodoItem from './TodoItem.html';

	export default{
		components:{
			TodoItem
		},
		data(){
			return {
				todoDatas:[
				{
					isDone:true,
					content:'吃饭'
				},{
					content:'睡觉'
				},{
					content:'表玛丽'
				},

				]
			}
		}
	}
</script>