<li class="todo-list-item">
    <input title="is done" class="is-done" type="checkbox" checked={{isDone}} on:click='toggleDone()' ref:doneCheckbox>
    <span  class="content {{isDone ? 'done' : ''}}" >{{content}}</span>
    <button class="remove" >&times;</button>
</li>

<style>
	.todo-list-item {
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	    border: 1px solid rgba(0, 0, 0, 0.12);
	    border-top: none;
	    padding: 12px 15px;
	    background-color: white;
	    transition: 0.1s ease-in all;
	    cursor: default;
	}

	.todo-list-item:hover {
	    background-color: #f8f8f8;
	}

	.todo-list-item .is-done {
	    cursor: pointer;
	}

	.todo-list-item .content {
	    flex: 1;
	    padding: 0 15px;
	    line-height: 28px;
	}

	.todo-list-item .content.done {
	    text-decoration: line-through;
	    font-style: italic;
	    color: rgba(0, 0, 0, 0.25);
	}

	.todo-list-item .remove {
	    border: none;
	    background-color: transparent;
	    font-size: 20px;
	    color: rgba(0, 0, 0, 0.54);
	    cursor: pointer;
	}

	.todo-list-item .remove:focus {
	    outline: none;
	}
	input {
	    border: 1px solid rgba(0, 0, 0, 0.12);
	    font-size: 20px;
	    padding: 12px 15px 12px 54px;
	}
</style>

<script>
	export default{
		data(){
			return {
				isDone:false,
				content:'哈喽大家好我是JJ林俊杰。今天给大家带来一首不是自己的歌，叫做瓜牛。希望大家会喜欢。'
			}
		},
		methods:{
			toggleDone(){
				const newStatus=this.refs.doneCheckbox.checked
				this.set({isDone:newStatus})
			}
		}
		
	}
</script>